# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. JavaScript
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit Learn
5. Seaborn

In [11]:
%%html
<style>
table {float:left}
</style>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>R Studio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

 This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
200 / 60

3.3333333333333335

<h4>Objectives:</h4>

<ul>
    <li>List popular languages for Data Science</li>
    <li>Some commonly used languages by Data Scientists</li>
    <li>Evaluatiing simple arithmetic expression</li>
</ul>

## <h2>Author</h2>
Upamanyu Roy Chowdhury